/* utility class*/
.grid {
  display: grid;
}

.grid-flow {
  grid-auto-flow: column;
}

.grid-flow1 {
  grid-template-columns: repeat(2, 1fr);
}

.gap16 {
  gap: 1.6rem;
}

.gap32 {
  gap: 3.2rem;
}

.txt-2xl {
  font: var(--h1);
}

.txt-lg{
  font: var(--h2);
}

.txt-md {
  font: var(--h3);
}

.txt-sm {
  font: var(--text-sm);
}
